# Variáveis de ambiente do Django
SECRET_KEY=django-insecure-e00u&++xh9dy%1d1)i0kz83+-7+3jii189^vp$84!k@238(v+j
DATABASE_URL=postgres://sisadv_user:sisadv12345@postgres:5432/sisadv_database
ALLOWED_HOSTS=0.0.0.0, localhost


# Variáveis de ambiente do PostgreSQL
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=sisadv_database
POSTGRES_USER=sisadv_user
POSTGRES_PASSWORD=sisadv12345
POSTGRES_HOST=postgres
POSTGRES_PORT=5432