# Variáveis de ambiente do Django
SECRET_KEY=django-insecure-e00u&++xh9dy%1d1)i0kz83+-7+3jii189^vp$84!k@238(v+j
#DATABASE_URL=postgres://sisadv_user:sisadv12345@postgres:5432/sisadv_database
ALLOWED_HOSTS=localhost, 0.0.0.0

# Variáveis de ambiente para usuário administrador
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=sysadv123
DJANGO_SUPERUSER_EMAIL=admin@example.com


# Variáveis de ambiente do PostgreSQL
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=sisadv_database
POSTGRES_USER=sisadv_user
POSTGRES_PASSWORD=sisadv12345
POSTGRES_HOST=postgres
POSTGRES_PORT=5432    

STATIC_URL=/static/
TATIC_ROOT=/sistema_advocacia/staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=/app/media

#DEBUG=True