{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}

<div class="content-wrapper">
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
        {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="col-sm-6">
                    <h1>Tarefas</h1>
                </div>
            </div>

            <div class="card-body">                
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>                              
                                <th>Processo</th>
                                <th>Tarefa</th>
                                <th>Prazo Fatal</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tarefa in tarefas %}
                            <tr>                                
                                <td>{{ tarefa.processo}}</td>
                                <td>{{ tarefa.tarefa }}</td>
                                <td>{{ tarefa.prazo_fatal }}</td>
                                <td>{{ tarefa.status }}</td>
                                <td>
                                    <a href="{% url 'tarefas:detail' tarefa.pk %}" class="btn btn-success btn-sm" title="Detalhes">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{% url 'tarefas:tarefa-update' tarefa.pk %}" class="btn btn-warning btn-sm" title="Editar">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'tarefas:tarefa-duplicar' tarefa.pk %}" class="btn btn-primary btn-sm" title="Criar nova baseada nesta">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                    <a href="{% url 'tarefas:delete' tarefa.pk %}" 
                                        class="btn btn-danger btn-sm" title="Excluir">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Nenhum registro encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!-- /.card -->
    
    </div>
    <!-- /.container-fluid -->

</div>

{% endblock %}

{% block extra_script %}

{% endblock extra_script %}

{% block extra_style %}
{% endblock extra_style %}
